table.alertTable {
    border: 1px solid #000000;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.alertTable td, table.alertTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.alertTable tbody td {
    font-size: 13px;
  }
  table.alertTable tr:nth-child(even) {
    background: #F5F5F5;
  }
  table.alertTable thead {
    background: #000000;
    border-bottom: 2px solid #444444;
  }
  table.alertTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.alertTable thead th:first-child {
    border-left: none;
  }
  
  table.alertTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #000000;
    border-top: 2px solid #444444;
  }
  table.alertTable tfoot td {
    font-size: 14px;
  }
  table.alertTable tfoot .links {
    text-align: right;
  }
  table.alertTable tfoot .links a{
    display: inline-block;
    background: #B7B7B7;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }